@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  --text-primary: #000000;
  --text-secondary: #4c60e6;
  --text-tertiary: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-gap {
  margin: 3rem 5rem 0rem 5rem;
}

@media screen and (max-width: 768px) {
  .section-gap {
    margin: 3rem 2rem 0rem 2rem;
  }
}
@media screen and (max-width: 425px) {
}
@media screen and (max-width: 375px) {
  .section-gap {
    margin: 3rem 1rem 0rem 1rem;
  }
}
@media screen and (max-width: 320px) {
}
