@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --text-primary: #000000;
  --text-secondary: #4c60e6;
  --text-tertiary: #ffffff;
  --bg-secondary: #dcdcdc;
  --text-blue-secondary: #313f9b;
  --error-bg: rgba(255, 0, 0, 0.7);
  --warning-bg: rgba(255, 255, 0, 0.8);
  --black-light: #1e1e1e;
  --light-grey: #444;
  --off-white: #e0e0e0;
  --lightest-black: #1e1e1e7c;
  --shadow: #ddd;
  --hover-white: #f0f0f0;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: fit-content;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.section-gap {
  margin: 2rem 5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition: background 0.5s ease;

  &:hover {
    background: #555;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .section-gap {
    margin: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .section-gap {
    margin: 2rem 1rem;
  }
}
