@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --text-primary: #000000;
  --text-secondary: #4c60e6;
  --text-tertiary: #ffffff;
  --bg-secondary: #dcdcdc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

*:hover{
  cursor: url('../images/cursor.png'), auto;
}

body {
  height: fit-content;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: url('../images/cursor.png'), auto;
}

.section-gap {
  margin: 2rem 5rem;
}

@media screen and (max-width: 768px) {
  .section-gap {
    margin: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .section-gap {
    margin: 2rem 1rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition: background 0.5s ease;

  &:hover {
    background: #555;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    flex: 1;
  }
}
