.popup-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  font-family: "Fira Mono", monospace;
}

.popup-container.error-visible {
  opacity: 1;
  background-color: var(--error-bg);
  color: var(--text-tertiary);
}

.popup-container.warning-visible {
  opacity: 1;
  background-color: var(--warning-bg);
  color: var(--text-primary);
}

.popup-container.info-visible {
  opacity: 1;
  background-color: var(--black-light);
  color: var(--text-tertiary);
}
